.user__header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 93px;
	margin-top: -93px;
}

.user__image{
	width: 145px;
	height: 145px;
	border-radius: 50%;
	border: 5px solid #fff;
	overflow: hidden;

	& img{
		width: 100%;
		height: 100%;
	}
}

.user__name{	
	font-weight: 700;
	font-size: 36px;
	line-height: 45px;
	letter-spacing: 0.4px;
	color: #252733;
}

.user__proffesion{
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.4px;
	color: #797A84;
	font-weight: 700;
}