.item__user{
	display: flex;
	gap: 24px;
	align-items: center;
	flex: 0 1 40.06%;
}
.item__userImage{
	border-radius: 50%;
	overflow: hidden;
	max-width: 44px;
	max-height: 44px;

		& img{
	width: 100%;
	}
}

.user__infoTitle{
	margin-bottom: 4px;
	color: var(--color-dark);
	transition: all 0.3s linear;
	cursor: pointer;

	&:hover{
		color: var(--color-hover-text)
	}
}

.user__infoSubtitle{
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.1px;
	color: #C5C7CD;
}