.main__usersHeader{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 48px;
	padding: 32px 32px 0 32px;
}
.users__headerTitle{
	font-weight: 700;
	font-size: 19px;
	line-height: 24px;
	letter-spacing: 0.4px;
	color: var(--color-dark);
}

.users__headerSort{
color: #4B506D;
display: flex;
align-items: center;
cursor: pointer;
transition: all 0.3s linear;	

		&:hover{
			color: var(--color-hover-text);
}

		& svg{
			color: #C5C7CD;
			margin-right: 8px;
			transition: all 0.3s linear;	
		}

		&:hover svg{
			color: #94979e;
		}
}