.item__userCompany{
	flex: 0 1 20.08%;
}
.user__infoTitle{
	margin-bottom: 4px;
	color: var(--color-dark);
}

.user__infoSubtitle{
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.1px;
	color: #C5C7CD;
}