.users{
	margin: 38px 35px 30px 30px;
	background: var(--color-white);
	border: 1px solid #DFE0EB;
	border-radius: 8px;

}

.error__message{
	display: flex;
	justify-content: center;
	margin-top: 50px;
	font-size: 36px;
	color:red;
	padding-bottom: 100px;
}